@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Special+Elite&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root{
  --primaryFont: 'Special Elite', cursive;
  --secondaryFont: 'Oswald', sans-serif;
  --azul: #2c5da9;
  --amarillo: #ebd42e;
  --celeste: #73c5da;
  --negro: #000000;
  --blanco:  #fff;
}

a{
  text-decoration: none;
}

#root{
  min-height: 75vh;
  position: relative;
  background-color:rgba(255, 255, 255, 0.5);
  background-image: url('./static/pincipitoOpaco.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
}